<!DOCTYPE html>
<html lang="en-us">
    <meta name="content-language" content="en-us">
    <meta name="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" contnet="index, nofollow">
    <meta name="author" content="Hyojin Choi">
    <meta name="description" content="Article">
    <meta name="keywords"
        content="NFL, HFFL, Football, American Football, Tampa Bay Buccaneers, Quarterbacks, Korean-Americans">
    <link rel="stylesheet" href="C:/Users/zchod/Documents/HFFL/Styles.css">
    <title>Hyojin Choi</title>
    <link rel="icon" type="image/x-icon"
        href="/Users/zchod/Documents/HFFL/Media/Sports/NFL/Tampa_Bay_Buccaneers_logo.svg">
    <body>
        <table class="wikitable">
            <th class="wikitable-header" colspan="4">
                Color
            </th>
            <th class="wikitable-header" rowspan="2" colspan="4">
                Hex Code
            </th>
            <th class="wikitable-header" rowspan="2">
                Use
            </th>
            <th class="wikitable-header" rowspan="2">
                Notes
            <tr>
                <th class="wikitable-header">
                    Primary
                </th>
                <th class="wikitable-header">
                    Secondary
                </th>
                <th class="wikitable-header">
                    Alternate Primary
                </th>
                <th class="wikitable-header">
                    Alternate Secondary
                </th>
            </tr>
            <tr>
                <td class="wikitable-data" style="background: #BBF3BB"></td>
            </tr>
        </table>
    </body>
</html>