<!--This page is a database of national flags. This article is NOT intended as a standalone article, rather it serves a quick reference / database for importing flags and flagicons onto other articles-->
<!--The flags are listed in alphabetical order and are grouped by continent-->

Asia {
    Caucases {
        Georgia                  <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Flag_of_Georgia.svg" title="Georgia" style="border: 1px solid #AAA" height="10px"> 
    }

    East Asia {
        Korea                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Unification_flag_of_Korea.svg" title="Korea" style="border: 1px solid #AAA" height="10px">
    }

    Southeast Asia {             
        Malaysia                 <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Flag_of_Malaysia.svg" title="Malaysia" height="10px">
    }
}

Europe {
    Central Europe {
        Czech Republic          <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Flag_of_the_Czech_Republic.svg" title="Czech Republic" style="border: 1px solid #AAA" height="10px">
        Belgum                  <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Flag_of_Belgium.svg" title="Belgium" height="10px">
        Germany                 <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg" title="Germany" height="10px">
        Switzerland             <img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Switzerland.svg" title="Switzerland" height="10px">
    }

    Eastern Europe {
        Romania                 <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Flag_of_Romania.svg" title="Romania" height="10px">
        Soviet Union            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_the_Soviet_Union.svg" title="Soviet Union" height="10px">
    }

    Northern Europe {
        Finland                 <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Finland.svg" title="Finland" style="border: 1px solid #AAA" height="10px">
        United Kingdom          <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Flag_of_the_United_Kingdom.svg" title="United Kingdom" height="10px">
    }

    Western Europe {
        Andorra                 <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Andorra.svg" title="Andorra" height="10px">
        France                  <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg" title="France" height="10px">
        San Marino              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Flag_of_San_Marino.svg" title="San Marino" height="10px">
    }
}

America {
    Caribbean {
        Dominica                <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Flag_of_Dominica.svg" title="Dominica" height="10px">
        Dominican Repunlic      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Flag_of_the_Dominican_Republic.svg" title="Dominican Republic" height="10px">
    }
    Central America {
        Honduras                <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Flag_of_Honduras.svg" title="Honduras" height="10px">
    }

    North America {
        United States           <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/US_51_Star_possible_Flag.svg" title="United States" height="10px"> 
        Canada                  <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Canada.svg" title="Canada" height="10px">
        Mexico                  <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg" title="Mexico" height="10px">     
    }
}

Oceania
    Australia                   <img src="https://upload.wikimedia.org/wikipedia/en/b/b9/Flag_of_Australia.svg" title="Austalia" height="10px">