                <table class="toccolours" style="text-align: left; table-layout: auto; display: table; width: 100%; vertical-align: middle">
                    <th class="wikitable-header" style="background: #FD8001; color: #fff; border: 2px solid #FFF" colspan="99">
                        Toronto Tigers Retired Numbers
                    </th>
                    <tbody>
                        <tr>
                            <td style="background: #0c0c0c; height: 90px; text-align: center; vertical-align: middle; width: 100px; padding-top: 0.5em">
                                <div style="background: #000; border: 1px solid #AAA; padding: 1em; text-align: center; height: 175px; vertical-align: middle; width: 150px">
                                    <div style="font-weight: bold; background: #0c0c0c; vertical-align: middle; height: 175px; margin: auto; text-align: center; color: #FD8001; font-size: 55px">
                                        <span style="padding-top: 2em; height: 100%; margin: auto">27</span>
                                    </div>
                                </div>
                            </td>
                            <td style="background: #0c0c0c; height: 90px; text-align: center; vertical-align: middle; width: 100px; padding-top: 0.5em">
                                <div style="background: #000; border: 1px solid #AAA; padding: 1em; text-align: center; height: 175px; vertical-align: middle; width: 150px">
                                    <div style="font-weight: bold; background: #0c0c0c; vertical-align: middle; height: 175px; margin: auto; text-align: center; color: #FD8001; font-size: 55px">
                                        <span style="padding-top: 2em; height: 100%; margin: auto">92</span>
                                    </div>
                                </div>
                            </td>
                            <td style="background: #0c0c0c; height: 90px; text-align: center; vertical-align: middle; width: 100px; padding-top: 0.5em">
                                <div style="background: #000; border: 1px solid #AAA; padding: 1em; text-align: center; height: 175px; vertical-align: middle; width: 150px">
                                    <div style="font-weight: bold; background: #0c0c0c; vertical-align: middle; height: 175px; margin: auto; text-align: center; color: #FD8001; font-size: 55px">
                                        <span style="padding-top: 2em; height: 100%; margin: auto">20</span>
                                    </div>
                                </div>
                            </td>
                            <td style="background: #0c0c0c; height: 90px; text-align: center; vertical-align: middle; width: 100px; padding-top: 0.5em;">
                                <div style="background: #000; border: 1px solid #AAA; padding: 1em; text-align: center; height: 175px; vertical-align: middle; width: 150px">
                                    <div style="font-weight: bold; background: #0c0c0c; vertical-align: middle; height: 175px; margin: auto; text-align: center; color: #FD8001; font-size: 55px">
                                        <span style="padding-top: 2em; height: 100%; margin: auto">40</span>
                                    </div>
                                </div>
                            </td>
                            <td style="background: #0c0c0c; height: 90px; text-align: center; vertical-align: middle; width: 100px; padding-top: 0.5em">
                                <div style="background: #000; border: 1px solid #AAA; padding: 1em; text-align: center; height: 175px; vertical-align: middle; width: 150px">
                                    <div style="font-weight: bold; background: #0c0c0c; vertical-align: middle; height: 175px; margin: auto; text-align: center; color: #FD8001; font-size: 55px">
                                        <span style="padding-top: 2em; height: 100%; margin: auto">58</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #FD8001; text-align: center; margin-top: 0.5em; padding: 0px; width: 1em; color: #FFF; font-weight: bold">
                                <span style="height: 100%; margin: auto">
                                    J.K. Dobbins
                                    <br>
                                    RB
                                    <br>
                                    2020&ndash;2030
                                </span>
                            </td>
                            <td style="background: #FD8001; text-align: center; margin-top: 0.5em; padding: 0px; color: #FFF; font-weight: bold">
                                <span style="height: 100%; margin: auto">
                                    J.K. Dobbins
                                    <br>
                                    RB
                                    <br>
                                    2020&ndash;2030
                                </span>
                            </td>
                            <td style="background: #FD8001; text-align: center; margin-top: 0.5em; padding: 0px; color: #FFF; font-weight: bold">
                                <span style="height: 100%; margin: auto">
                                    J.K. Dobbins
                                    <br>
                                    RB
                                    <br>
                                    2020&ndash;2030
                                </span>
                            </td>
                            <td style="background: #FD8001; text-align: center; margin-top: 0.5em; padding: 0px; color: #FFF; font-weight: bold">
                                <span style="height: 100%; margin: auto">
                                    J.K. Dobbins
                                    <br>
                                    RB
                                    <br>
                                    2020&ndash;2030
                                </span>
                            </td>
                            <td style="background: #FD8001; text-align: center; margin-top: 0.5em; padding: 0px; color: #FFF; font-weight: bold">
                                <span style="height: 100%; margin: auto">
                                    J.K. Dobbins
                                    <br>
                                    RB
                                    <br>
                                    2020&ndash;2030
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
